body {
	background-color: #FFFFFF;
	font-size: 100.0%;
    font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

.pageContent {
	margin-left: 20%;
	margin-right: 0.5%;
}

#main {
	position: relative;
	transition: margin-left .1s;
	background-color: #FFFFFF;
	padding: 1%;
	box-shadow: 2px 2px 2px #888888;
	border: 2px solid #888888;
	border-radius: 5px;
	height: auto;
	margin-bottom: 0.5%;
}

li{
	list-style-type: none;
	margin-left: 1%;
	font-size: 3vh;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	
}

a{
	margin-left: 0.5vw;
	background-color: #FFFFFF;
}

.navbar{
	text-decoration: none;
	color: black;	
	margin-left: 0.5vw;
	background-color: #0099ff;
}

.navbar:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.navbar:hover, .navbar:hover span{
    color: #FFFFFF;
}

.navigationBar {
	height: 100vh;
	width: 19.5%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: #0099ff;
}

#formDatabase {
	display: none;
}

#formRequest {
	display: block;
}

#report {
	display: none;
}

#requestConstructor {
	display: none;
}

#insertDiv {
	margin-left: 5%; 
}

h2 {
	color: #000000;
	display: inline;
}

span {
	margin-right: 0.5%;
	color: black;
}

input {
  width: 50%;
  padding: 12px 20px 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
  width: 50%;
  padding: 12px 20px 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

#Result {
	visibility: hidden;
}

#downloadClick {
	display: none;
	text-decoration: none;
	color: black;
	background-color: #FFFFFF;
	width: 150px;
	padding: 0.5%;
}

#downloadClick:hover {
	color: #0099ff;
}

#downloadClickConstructor {
	display: none;
	text-decoration: none;
	color: black;
	background-color: #FFFFFF;
	width: 150px;
	padding: 0.5%;
}

#downloadClickConstructor:hover {
	color: #0099ff;
}

#SecondRequest {
	display: none;
}

#SecondRequestLabel {
	display: none;
}

#SecondRequestBreak {
	display: none;
}

#heading {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding: 1%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	border: 2px solid #888888;
	border-radius: 5px;
}

.mobiledash {
	display: none;
}

h1 {
	color: #000000;
	position: relative;
	display: block-inline;
}

.closebutton {
	display: none;
}

/* order matters*/
@media only screen and (max-width: 1000px) {
	
	body {
		font-size: 100.0%;
	}
	
	h1{
		display: inline;
		position: relative;
		left: 10%;
	}
	
	.mobiledash {
		display: inline;
		border: none;
		background-color: #FFFFFF;
		font-size: 30px;
		position: relative;
		left: 5%;
	}
	
	.navigationBar {
		width: 0;
	}
	
	.pageContent {
		margin-left: 0.5%;
	}
	
	.closebutton {
		display: block;
		color: #000000;
		font-size: 24px;
		position: absolute;
		right: 5%;
	}
	
	.closebutton:hover {
		color: #FFFFFF;
		text-decoration: none;
	}

	
	.navbutton{
	
		display: block;
    
		padding: 0.5vw;
		font-size: 3vh;
		background-color: #AFAFAF;
		border: none;
		outline: none;
    
		cursor: pointer;
		align-self: flex-start;
	}
}

#qv_loginform{
	display = block;
}