db.url_las2peer=jdbc:mysql://127.0.0.1:3306

db.dbType_qvs=MySQL

db.user_las2peermon=root
db.dbSchema_las2peer=LAS2PEERMON
db.dbType_las2peermon=MySQL
db.url_qvs=jdbc:mysql://127.0.0.1:3306
db.user_qvs=root

db.dbType_las2peer=MySQL
db.user_las2peer=root
db.password_las2peer=hellome
db.password_qvs=hellome

db.url_las2peermon=jdbc:mysql://127.0.0.1:3306
db.dbSchema_qvs=qvs
junit=false
db.password_las2peermon=
db.dbSchema_las2peermon=las2peermon
